SPARK_WORKER_MEMORY=2G
SPARK_WORKER_CORES=2
JUPYTER_PORT=8888
JUPYTER_TOKEN=changeme

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=bigintensive
POSTGRES_PORT=5432

KAFKA_EXTERNAL_PORT=9094
KAFKA_UI_PORT=8088
BACKEND_PORT=3001
FRONTEND_PORT=5173
