SPARK_WORKER_MEMORY=2G
SPARK_WORKER_CORES=2
JUPYTER_PORT=8888
JUPYTER_TOKEN=changeme

CITUS_POSTGRES_USER=postgres
CITUS_POSTGRES_PASSWORD=postgres
CITUS_POSTGRES_DB=bigintensive
CITUS_COORDINATOR_PORT=55432
CITUS_WORKER1_PORT=5433
CITUS_WORKER2_PORT=5434

KAFKA_EXTERNAL_PORT=9094
KAFKA_UI_PORT=8088
BACKEND_PORT=3001
FRONTEND_PORT=5173
