PORT=3001
CORS_ORIGIN=http://localhost:5173

# Citus Database connection
CITUS_POSTGRES_USER=postgres
CITUS_POSTGRES_PASSWORD=postgres
CITUS_POSTGRES_DB=bigintensive
CITUS_HOST=citus-coordinator
CITUS_PORT=5432
